type=textfile
text.sizefichier=2

text.nbfichier=5

text.name=lastfm

text.champs=user,track,locallistening,radiolistening,skip

text.user.type=chaine
text.user.nbmax=5

text.track.type=chaine
text.track.nbmax=10


text.locallistening.type=entier
text.locallistening.valmax=20

text.radiolistening.type=entier
text.radiolistening.valmax=10

text.skip.type=entier
text.skip.valmax=5
