type=textfile
text.sizefichier=3
text.name=noodle
text.champs=date,adresse,motcles


text.date.type=date

text.adresse.type=list
text.adresse.list.type=entier

text.adresse.list.valmin=2
text.adresse.list.valmax=255
text.adresse.taillemin=4
text.adresse.taillemax=4

text.motcles.type=list
text.motcles.list.type=chaine
text.motcles.separateur=+
text.motcles.list.nbmax=50