type=textfile

text.sizefichier=1

text.name=stereoprix

text.champs=date,magasin,prix,produit,categorie

text.date.type=date

text.magasin.type=chaine

text.prix.type=entier
text.prix.valmax=500

text.produit.type=chaine
text.produit.nbmax=100

text.categorie.type=chaine
text.categorie.nbmax=8
text.categorie.dependance=produit
